*{              /*Zerando margin e padding*/
    margin: 0; 
    padding: 0;
}

body{
    background-color: #0011ff;  /*Cor de Fundo*/
    text-align: center;
}

#container{ /*Div Id Container*/
    width: 1056px; /*Largura do container*/
    height: 590px; /*altura do container*/
    border: 1px solid #111; /*borda do container*/
    position: relative; /**/
    margin: 10px auto;  /*Distânciamento do topo da página 10 px e distânciamento de largura automatico*/
    border-radius: 10px; /*Arrendontamento das bordas*/
    background-color: #00aeffa6; /*Cor de fundo do container*/
}
.card{ /*Configuração comum para todos os cards*/
    width: 200px; /*Largura dos cards*/
    height: 280px;   /*Altura dos cards */
    position: absolute; /*importante para depois fazer a manipulaçãos dos cards usando JavaScript*/
    border-radius: 5px; /*arredondamento das bordas dos cards*/
    border: solid; /*Sugimento das bordas*/
    perspective: 600px;
}

.face{
    width: 100%; /*Largura de preenchimento */
    height: 100%; /*Altura de preenchimento*/
    position: absolute; /*Para uma melhor manipulação em JavaCript*/
    border-radius: 5px; /*Borda do preenchimento*/
    transition: all 1s;
    backface-visibility: hidden;

}
.back{ /*Imagem de Fundos das cartas*/
    background: url("../img/verso.png");
}

.back.flipped{      /*Rotação do verso da carta em 180ª*/
    transform: rotateY(180deg);
}

.front{
    transform: rotateY(-180deg);
}

.front.flipped{
    transform: rotateY(0deg);
}

.card:hover{
    box-shadow: 1px 1px 10px #FFFFFF; /*Efeito quando passamos o mouse em cima das cartas*/
}

#modalGameOver{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -2;
}

#imgGameOver{
    margin-top: 50px;
}
